In [189]:
import pandas as pd

In [190]:
sheet_id='1I9gQRTZ9YnOIZKoD9KPh-rHevqxE1c4o7WtjM9ZWPJk'

xls=pd.ExcelFile(f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=xlsx")

df=pd.read_excel(xls,'ElectricCarData')

df.head()

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,B,4,32997

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        103 non-null    object
 1   Model        103 non-null    object
 2   Accel        103 non-null    object
 3   TopSpeed     103 non-null    object
 4   Range        103 non-null    object
 5   Efficiency   103 non-null    object
 6   FastCharge   103 non-null    object
 7   RapidCharge  103 non-null    object
 8   PowerTrain   103 non-null    object
 9   PlugType     103 non-null    object
 10  BodyStyle    103 non-null    object
 11  Segment      103 non-null    object
 12  Seats        103 non-null    int64
 13  PriceEuro    103 non-null    int64
dtypes: int64(2), object(12)
memory usage: 11.4+ KB

In [192]:
df.describe()

            Seats      PriceEuro
count  103.000000     103.000000
mean     4.883495   55811.563107
std      0.795834   34134.665280
min      2.000000   20129.000000
25%      5.000000   34429.500000
50%      5.000000   45000.000000
75%      5.000000   65000.000000
max      7.000000  215000.000000

In [193]:
df.head()

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,B,4,32997

In [194]:
df.tail()

,Brand,Model,Accel,TopSpeed,Range,Efficiency,FastCharge,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
98,Nissan,Ariya 63kWh,7.5 sec,160 km/h,330 km,191 Wh/km,440 km/h,Rapid charging possible,Front Wheel Drive,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5 sec,210 km/h,335 km,258 Wh/km,540 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9 sec,200 km/h,325 km,194 Wh/km,440 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1 sec,200 km/h,375 km,232 Wh/km,450 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5 sec,190 km/h,400 km,238 Wh/km,480 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,SUV,E,5,62000

In [195]:
#Renaming column names and adding their units 
df.rename(columns={'Accel':'AccelerationSec','Range':'Rangekm'},inplace=True)

In [196]:
df.rename(columns={'Efficiency':'EfficiencyWhKm','FastCharge':'FastChargekmH','TopSpeed':'TopSpeedkmH'},inplace=True)

In [197]:
df.head()

,Brand,Model,AccelerationSec,TopSpeedkmH,Rangekm,EfficiencyWhKm,FastChargekmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Rapid charging possible,All Wheel Drive,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Rapid charging possible,Rear Wheel Drive,Type 2 CCS,Hatchback,B,4,32997

In [198]:
# Replacing Rapid Changing Possiblle or not possible to yes or no
df['RapidCharge']=df['RapidCharge'].apply(lambda x: 'Yes' if x == 'Rapid charging possible' else 'No')

In [199]:
df.head()

,Brand,Model,AccelerationSec,TopSpeedkmH,Rangekm,EfficiencyWhKm,FastChargekmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Yes,All Wheel Drive,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Yes,Rear Wheel Drive,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Yes,All Wheel Drive,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Yes,Rear Wheel Drive,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Yes,Rear Wheel Drive,Type 2 CCS,Hatchback,B,4,32997

In [200]:
#Removing unused column name "SEGMENT"
df.drop(columns=['Segment'],inplace=True)

In [201]:
df.head()

,Brand,Model,AccelerationSec,TopSpeedkmH,Rangekm,EfficiencyWhKm,FastChargekmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Yes,All Wheel Drive,Type 2 CCS,Sedan,5,55480
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Yes,Rear Wheel Drive,Type 2 CCS,Hatchback,5,30000
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Yes,All Wheel Drive,Type 2 CCS,Liftback,5,56440
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Yes,Rear Wheel Drive,Type 2 CCS,SUV,5,68040
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Yes,Rear Wheel Drive,Type 2 CCS,Hatchback,4,32997

In [202]:
#Adding a new ID column

# Ensure the length of the DataFrame
n = len(df)

# Generate a list of IDs
id_list = [f'EV-{str(i).zfill(3)}' for i in range(1, n + 1)]

# Add the ID column to the existing DataFrame
df['ID'] = id_list
# Display the updated DataFrame
print("\nUpdated DataFrame with ID Column:")
print(df)

Updated DataFrame with ID Column:
          Brand                            Model AccelerationSec TopSpeedkmH  \
0         Tesla    Model 3 Long Range Dual Motor         4.6 sec    233 km/h
1    Volkswagen                        ID.3 Pure        10.0 sec    160 km/h
2      Polestar                                2         4.7 sec    210 km/h
3           BMW                              iX3         6.8 sec    180 km/h
4         Honda                                e         9.5 sec    145 km/h
..          ...                              ...             ...         ...
98       Nissan                      Ariya 63kWh         7.5 sec    160 km/h
99         Audi    e-tron S Sportback 55 quattro         4.5 sec    210 km/h
100      Nissan              Ariya e-4ORCE 63kWh         5.9 sec    200 km/h
101      Nissan  Ariya e-4ORCE 87kWh Performance         5.1 sec    200 km/h
102       Byton                M-Byte 95 kWh 2WD         7.5 sec    190 km/h

    Rangekm EfficiencyWhKm FastChargekmH RapidCharge         PowerTrain  \
0    450 km      161 Wh/km      940 km/h         Yes    All Wheel Drive
1    270 km      167 Wh/km      250 km/h         Yes   Rear Wheel Drive
2    400 km      181 Wh/km      620 km/h         Yes    All Wheel Drive
3    360 km      206 Wh/km      560 km/h         Yes   Rear Wheel Drive
4    170 km      168 Wh/km      190 km/h         Yes   Rear Wheel Drive
..      ...            ...           ...         ...                ...
98   330 km      191 Wh/km      440 km/h         Yes  Front Wheel Drive
99   335 km      258 Wh/km      540 km/h         Yes    All Wheel Drive
100  325 km      194 Wh/km      440 km/h         Yes    All Wheel Drive
101  375 km      232 Wh/km      450 km/h         Yes    All Wheel Drive
102  400 km      238 Wh/km      480 km/h         Yes    All Wheel Drive

       PlugType  BodyStyle  Seats  PriceEuro      ID
0    Type 2 CCS      Sedan      5      55480  EV-001
1    Type 2 CCS  Hatchback      5      30000  EV-002
2    Type 2 CCS   Liftback      5      56440  EV-003
3    Type 2 CCS        SUV      5      68040  EV-004
4    Type 2 CCS  Hatchback      4      32997  EV-005
..          ...        ...    ...        ...     ...
98   Type 2 CCS  Hatchback      5      45000  EV-099
99   Type 2 CCS        SUV      5      96050  EV-100
100  Type 2 CCS  Hatchback      5      50000  EV-101
101  Type 2 CCS  Hatchback      5      65000  EV-102
102  Type 2 CCS        SUV      5      62000  EV-103

[103 rows x 14 columns]

In [203]:
df.head()

,Brand,Model,AccelerationSec,TopSpeedkmH,Rangekm,EfficiencyWhKm,FastChargekmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,PriceEuro,ID
0,Tesla,Model 3 Long Range Dual Motor,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Yes,All Wheel Drive,Type 2 CCS,Sedan,5,55480,EV-001
1,Volkswagen,ID.3 Pure,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Yes,Rear Wheel Drive,Type 2 CCS,Hatchback,5,30000,EV-002
2,Polestar,2,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Yes,All Wheel Drive,Type 2 CCS,Liftback,5,56440,EV-003
3,BMW,iX3,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Yes,Rear Wheel Drive,Type 2 CCS,SUV,5,68040,EV-004
4,Honda,e,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Yes,Rear Wheel Drive,Type 2 CCS,Hatchback,4,32997,EV-005

In [204]:
#Reordering the cells
df=df[['ID','Brand','Model','Seats','PriceEuro','AccelerationSec','TopSpeedkmH','Rangekm','EfficiencyWhKm','FastChargekmH','RapidCharge','PowerTrain','PlugType','BodyStyle']]

In [205]:
df.head()

,ID,Brand,Model,Seats,PriceEuro,AccelerationSec,TopSpeedkmH,Rangekm,EfficiencyWhKm,FastChargekmH,RapidCharge,PowerTrain,PlugType,BodyStyle
0,EV-001,Tesla,Model 3 Long Range Dual Motor,5,55480,4.6 sec,233 km/h,450 km,161 Wh/km,940 km/h,Yes,All Wheel Drive,Type 2 CCS,Sedan
1,EV-002,Volkswagen,ID.3 Pure,5,30000,10.0 sec,160 km/h,270 km,167 Wh/km,250 km/h,Yes,Rear Wheel Drive,Type 2 CCS,Hatchback
2,EV-003,Polestar,2,5,56440,4.7 sec,210 km/h,400 km,181 Wh/km,620 km/h,Yes,All Wheel Drive,Type 2 CCS,Liftback
3,EV-004,BMW,iX3,5,68040,6.8 sec,180 km/h,360 km,206 Wh/km,560 km/h,Yes,Rear Wheel Drive,Type 2 CCS,SUV
4,EV-005,Honda,e,4,32997,9.5 sec,145 km/h,170 km,168 Wh/km,190 km/h,Yes,Rear Wheel Drive,Type 2 CCS,Hatchback

In [206]:
# Removing units from column values
df['AccelerationSec'] = df['AccelerationSec'].str.replace(' sec', '', regex=False)
df['AccelerationSec'] = pd.to_numeric(df['AccelerationSec'], errors='coerce')

df['TopSpeedkmH'] = df['TopSpeedkmH'].str.replace(' km/h', '', regex=False)
df['TopSpeedkmH'] = pd.to_numeric(df['TopSpeedkmH'], errors='coerce')

df['Rangekm'] = df['Rangekm'].str.replace(' km', '', regex=False)
df['Rangekm'] = pd.to_numeric(df['Rangekm'], errors='coerce')

df['EfficiencyWhKm'] = df['EfficiencyWhKm'].str.replace(' Wh/km', '', regex=False)
df['EfficiencyWhKm'] = pd.to_numeric(df['EfficiencyWhKm'], errors='coerce')

df['FastChargekmH'] = df['FastChargekmH'].str.replace(' km/h', '', regex=False)
df['FastChargekmH'] = pd.to_numeric(df['FastChargekmH'], errors='coerce')

In [207]:
df['FastChargekmH']=df['FastChargekmH'].fillna(0).astype(int)

In [208]:
table1=df[['ID','Brand','Model','Seats','BodyStyle']]
table1.head()

       ID       Brand                          Model  Seats  BodyStyle
0  EV-001       Tesla  Model 3 Long Range Dual Motor      5      Sedan
1  EV-002  Volkswagen                      ID.3 Pure      5  Hatchback
2  EV-003    Polestar                              2      5   Liftback
3  EV-004         BMW                            iX3      5        SUV
4  EV-005       Honda                              e      4  Hatchback

In [209]:
table2=df[['ID','AccelerationSec','TopSpeedkmH','Rangekm','EfficiencyWhKm','FastChargekmH','RapidCharge','PowerTrain','PlugType']]
table2=table2.rename(columns={'ID':'CarID'})
table2.head()

,CarID,AccelerationSec,TopSpeedkmH,Rangekm,EfficiencyWhKm,FastChargekmH,RapidCharge,PowerTrain,PlugType
0,EV-001,4.6,233,450,161,940,Yes,All Wheel Drive,Type 2 CCS
1,EV-002,10.0,160,270,167,250,Yes,Rear Wheel Drive,Type 2 CCS
2,EV-003,4.7,210,400,181,620,Yes,All Wheel Drive,Type 2 CCS
3,EV-004,6.8,180,360,206,560,Yes,Rear Wheel Drive,Type 2 CCS
4,EV-005,9.5,145,170,168,190,Yes,Rear Wheel Drive,Type 2 CCS

In [210]:
table3=df[['ID','PriceEuro']]
table3=table3.rename(columns={'ID':'CarID'})
table3.head()

    CarID  PriceEuro
0  EV-001      55480
1  EV-002      30000
2  EV-003      56440
3  EV-004      68040
4  EV-005      32997

In [211]:
sheetID='1I9gQRTZ9YnOIZKoD9KPh-rHevqxE1c4o7WtjM9ZWPJk'

xls=pd.ExcelFile(f"https://docs.google.com/spreadsheets/d/{sheetID}/export?format=xlsx")

df1=pd.read_excel(xls,'ElectricCar in US')

df1.head()

,County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Legislative District,DOL Vehicle ID
0,King,Seattle,WA,98126.0,2017,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,34.0,235085336
1,Thurston,Olympia,WA,98502.0,2018,AUDI,A3,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,22.0,237896795
2,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,22.0,154498865
3,Thurston,Tenino,WA,98589.0,2021,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,20.0,154525493
4,Yakima,Yakima,WA,98902.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,14.0,225996361

In [212]:
#Renaming column names and adding their units 
df1.rename(columns={'Postal Code':'PostalCode','Model Year':'ModelYear','Electric Vehicle Type':'ElectricVehicleType','Clean Alternative Fuel Vehicle (CAFV) Eligibility':'CleanAlternativeFuelVehicle_Eligibility','Electric Range':'ElectricRange','Legislative District':'LegislativeDistrict','DOL Vehicle ID'
:'DOLVehicleID'},inplace=True)

In [213]:
df1=df1[['Make','Model','County','City','State','PostalCode','ModelYear','ElectricVehicleType','CleanAlternativeFuelVehicle_Eligibility','ElectricRange','LegislativeDistrict','DOLVehicleID']]
df1

,Make,Model,County,City,State,PostalCode,ModelYear,ElectricVehicleType,CleanAlternativeFuelVehicle_Eligibility,ElectricRange,LegislativeDistrict,DOLVehicleID
0,AUDI,A3,King,Seattle,WA,98126.0,2017,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,34.0,235085336
1,AUDI,A3,Thurston,Olympia,WA,98502.0,2018,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,22.0,237896795
2,TESLA,MODEL S,Thurston,Lacey,WA,98516.0,2017,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,22.0,154498865
3,JEEP,WRANGLER,Thurston,Tenino,WA,98589.0,2021,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,20.0,154525493
4,TESLA,MODEL 3,Yakima,Yakima,WA,98902.0,2020,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,14.0,225996361
...,...,...,...,...,...,...,...,...,...,...,...,...
10589,JEEP,WRANGLER,King,Tukwila,WA,98188.0,2023,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,21,11.0,236134188
10590,TESLA,MODEL 3,King,Seattle,WA,98107.0,2018,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,43.0,347299508
10591,TESLA,MODEL Y,Kitsap,Poulsbo,WA,98370.0,2023,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,23.0,253167925
10592,BMW,X5,King,Bellevue,WA,98006.0,2018,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,13,41.0,127320448
10593,TESLA,MODEL Y,King,Bellevue,WA,98005.0,2023,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,41.0,241133049

In [214]:
df1.describe()

,PostalCode,ModelYear,ElectricRange,LegislativeDistrict,DOLVehicleID
count,10593.000000,10594.000000,10594.000000,10593.000000,1.059400e+04
mean,98171.486737,2020.606287,59.363036,33.668272,2.231250e+08
std,215.498344,2.950500,92.283176,14.424104,7.709947e+07
min,98001.000000,2008.000000,0.000000,1.000000,2.047950e+05
25%,98033.000000,2019.000000,0.000000,22.000000,1.851455e+08
50%,98102.000000,2022.000000,0.000000,41.000000,2.300867e+08
75%,98178.000000,2023.000000,83.000000,45.000000,2.561554e+08
max,99362.000000,2024.000000,337.000000,49.000000,4.789099e+08

In [215]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10594 entries, 0 to 10593
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Make                                     10594 non-null  object
 1   Model                                    10594 non-null  object
 2   County                                   10593 non-null  object
 3   City                                     10593 non-null  object
 4   State                                    10594 non-null  object
 5   PostalCode                               10593 non-null  float64
 6   ModelYear                                10594 non-null  int64
 7   ElectricVehicleType                      10594 non-null  object
 8   CleanAlternativeFuelVehicle_Eligibility  10594 non-null  object
 9   ElectricRange                            10594 non-null  int64
 10  LegislativeDistrict                      10593 non-null  float64
 11  DOLVehicleID                             10594 non-null  int64
dtypes: float64(2), int64(3), object(7)
memory usage: 993.3+ KB

In [216]:
df1.head()

,Make,Model,County,City,State,PostalCode,ModelYear,ElectricVehicleType,CleanAlternativeFuelVehicle_Eligibility,ElectricRange,LegislativeDistrict,DOLVehicleID
0,AUDI,A3,King,Seattle,WA,98126.0,2017,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,34.0,235085336
1,AUDI,A3,Thurston,Olympia,WA,98502.0,2018,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,22.0,237896795
2,TESLA,MODEL S,Thurston,Lacey,WA,98516.0,2017,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,22.0,154498865
3,JEEP,WRANGLER,Thurston,Tenino,WA,98589.0,2021,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,20.0,154525493
4,TESLA,MODEL 3,Yakima,Yakima,WA,98902.0,2020,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,14.0,225996361

In [217]:
#Filling null values with zero and then Converting datatype from float to integer
df1['PostalCode'] = df1['PostalCode'].fillna(0).astype(int)

df1['LegislativeDistrict'] = df1['LegislativeDistrict'].fillna(0).astype(int)

df1.head()

,Make,Model,County,City,State,PostalCode,ModelYear,ElectricVehicleType,CleanAlternativeFuelVehicle_Eligibility,ElectricRange,LegislativeDistrict,DOLVehicleID
0,AUDI,A3,King,Seattle,WA,98126,2017,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,34,235085336
1,AUDI,A3,Thurston,Olympia,WA,98502,2018,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,16,22,237896795
2,TESLA,MODEL S,Thurston,Lacey,WA,98516,2017,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,22,154498865
3,JEEP,WRANGLER,Thurston,Tenino,WA,98589,2021,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,20,154525493
4,TESLA,MODEL 3,Yakima,Yakima,WA,98902,2020,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,14,225996361

In [218]:
#Importing data into mysql
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\hp\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)

In [219]:
import sqlalchemy as sal

# Replace these placeholders with your actual details
username = 'root'      # Your MySQL username
password = 'a-272block12'      # Your MySQL password
server_name = '127.0.0.1'  # The hostname you found in MySQL Workbench (e.g., 'localhost')
database_name = 'electriccar'  # Your database name

# Create the SQLAlchemy engine
engine = sal.create_engine(f'mysql+pymysql://{username}:{password}@{server_name}/{database_name}')
conn = engine.connect()

In [220]:
table1.to_sql('cardata',con=conn,index=False,if_exists='append')

table2.to_sql('carspecifications',con=conn,index=False,if_exists='append')

table3.to_sql('price',con=conn,index=False,if_exists='append')

df1.to_sql('registeredcardata',con=conn,index=False,if_exists='append')

conn.close()

In [221]:
table1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         103 non-null    object
 1   Brand      103 non-null    object
 2   Model      103 non-null    object
 3   Seats      103 non-null    int64
 4   BodyStyle  103 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.2+ KB

In [222]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CarID            103 non-null    object
 1   AccelerationSec  103 non-null    float64
 2   TopSpeedkmH      103 non-null    int64
 3   Rangekm          103 non-null    int64
 4   EfficiencyWhKm   103 non-null    int64
 5   FastChargekmH    103 non-null    int32
 6   RapidCharge      103 non-null    object
 7   PowerTrain       103 non-null    object
 8   PlugType         103 non-null    object
dtypes: float64(1), int32(1), int64(3), object(4)
memory usage: 7.0+ KB

In [223]:
table3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarID      103 non-null    object
 1   PriceEuro  103 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.7+ KB

In [224]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10594 entries, 0 to 10593
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Make                                     10594 non-null  object
 1   Model                                    10594 non-null  object
 2   County                                   10593 non-null  object
 3   City                                     10593 non-null  object
 4   State                                    10594 non-null  object
 5   PostalCode                               10594 non-null  int32
 6   ModelYear                                10594 non-null  int64
 7   ElectricVehicleType                      10594 non-null  object
 8   CleanAlternativeFuelVehicle_Eligibility  10594 non-null  object
 9   ElectricRange                            10594 non-null  int64
 10  LegislativeDistrict                      10594 non-null  int32
 11  DOLVehicleID                             10594 non-null  int64
dtypes: int32(2), int64(3), object(7)
memory usage: 910.6+ KB